# wildcard patterns
*.o
*.lo
*.a
*.la
Makefile
Makefile.in
.deps/
.libs/
.stamps/
# generated private headers
*_p.h

# /
aclocal.m4
INSTALL
autom4te.cache/
config.h
config.log
config.status
configure
libtool
stamp-h1

# clutter
clutter/cluttermm-0.9.pc
clutter/cluttermm/actor.cc
clutter/cluttermm/actor.h
clutter/cluttermm/alpha.cc
clutter/cluttermm/alpha.h
clutter/cluttermm/animation.cc
clutter/cluttermm/animation.h
clutter/cluttermm/behaviour-depth.cc
clutter/cluttermm/behaviour-depth.h
clutter/cluttermm/behaviour-ellipse.cc
clutter/cluttermm/behaviour-ellipse.h
clutter/cluttermm/behaviour-opacity.cc
clutter/cluttermm/behaviour-opacity.h
clutter/cluttermm/behaviour-path.cc
clutter/cluttermm/behaviour-path.h
clutter/cluttermm/behaviour-rotate.cc
clutter/cluttermm/behaviour-rotate.h
clutter/cluttermm/behaviour-scale.cc
clutter/cluttermm/behaviour-scale.h
clutter/cluttermm/behaviour.cc
clutter/cluttermm/behaviour.h
clutter/cluttermm/cairo-texture.cc
clutter/cluttermm/cairo-texture.h
clutter/cluttermm/childmeta.cc
clutter/cluttermm/childmeta.h
clutter/cluttermm/clone.cc
clutter/cluttermm/clone.h
clutter/cluttermm/color.cc
clutter/cluttermm/color.h
clutter/cluttermm/container.cc
clutter/cluttermm/container.h
clutter/cluttermm/group.cc
clutter/cluttermm/group.h
clutter/cluttermm/interval.cc
clutter/cluttermm/interval.h
clutter/cluttermm/media.cc
clutter/cluttermm/media.h
clutter/cluttermm/path.cc
clutter/cluttermm/path.h
clutter/cluttermm/rectangle.cc
clutter/cluttermm/rectangle.h
clutter/cluttermm/score.cc
clutter/cluttermm/score.h
clutter/cluttermm/script.cc
clutter/cluttermm/script.h
clutter/cluttermm/scriptable.cc
clutter/cluttermm/scriptable.h
clutter/cluttermm/shader.cc
clutter/cluttermm/shader.h
clutter/cluttermm/stage.cc
clutter/cluttermm/stage.h
clutter/cluttermm/text.cc
clutter/cluttermm/text.h
clutter/cluttermm/texture.cc
clutter/cluttermm/texture.h
clutter/cluttermm/timeline.cc
clutter/cluttermm/timeline.h
clutter/cluttermm/types.cc
clutter/cluttermm/types.h
clutter/cluttermm/wrap_init.cc
clutter/cluttermmconfig.h

# docs
docs/reference/Doxyfile
docs/reference/html/

# examples
examples/actors

# scripts
scripts/config.guess
scripts/config.sub
scripts/ltmain.sh

# tests
tests/test-alpha-creation
tests/test-alpha-func
tests/test-interval-creation

# tools
tools/extra_defs_gen/generate_extra_defs_clutter

