.deps/
.dirstamp
.libs/
Makefile
Makefile.in
stamp-h?
*.[ao]
*.l[ao]
/INSTALL
/aclocal.m4
/autom4te.cache/
/config*.lineno
/config.log
/config.status
/configure
/cluttermm-*.tar.*
/libtool
/codegen/extradefs/generate_extra_defs
/clutter/cluttermmconfig.h
/clutter/cluttermm*.pc
/clutter/src/.stamps/
/doc/reference/Doxyfile
/doc/reference/doxygen.log
/doc/reference/cluttermm-*.devhelp2
/doc/reference/cluttermm-*.tag
/doc/reference/html/
/examples/actors
/tests/*
!/tests/*.cc
!/tests/*.Makefile.am
